.link {
  color: #b4b6b8;
  display: inline-block;

  text-decoration: none;
  padding: 12;
  font-weight: 800;
  margin-right: 10px;
}
.link:hover {
  text-decoration: none;
  color: grey;
}
.activeLink {
  color: white;
}
